# Django et utilitaires
Django==5.2.7
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
sqlparse==0.5.3
pytz==2025.2

# Sécurité et cryptographie
bcrypt==3.2.0
PyJWT==2.10.1
cryptography==46.0.3

# Gestion des environnements et utilitaires
python-dotenv==1.1.1
requests==2.32.5

# Dépendances nécessaires à Django REST Framework
anyio==4.11.0
asgiref==3.10.0
